{% extends 'EniFrontendBundle::layout.html.twig' %}

{% block content %}
	
   <ul class="nav nav-pills">
            <li class="active"><a href="#">Espace Formateur</a></li>
            <li><a href="#">Espace Candidat</a></li>
          
   </ul>

        
{% endblock %}