{% extends 'EniFrontendBundle::layout.html.twig' %}

{% block content %}
	
   <div class="alert alert-success">{{ nom }} {{ prenom }} - Formateur</div>
   
   <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Accueil</a></li>
        <li><a href="#profile" data-toggle="tab">Question</a></li>
        <li><a href="#messages" data-toggle="tab">Theme</a></li>
        <li><a href="#settings" data-toggle="tab">Test</a></li>
        <li><a href="#settings" data-toggle="tab">Inscription</a></li>
    </ul>

        
{% endblock %}