body{
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	color: #555;
}
#header h1{
	font-size: 50px;
}

#header {
    margin-bottom: 10px;
}

.logout{
	float: right;
}
    
#logo_header_eni{
	width: 100px;
}
.theme-action{
        padding-left: 10px;
}
.themes-ajouter{
        margin-top: 10px;
}
ul li {
    list-style-type: none;
}

.theme-records_list li{
    margin-bottom: 10px;
    
}